 .custom-button-prev2{
    font-size: 18px;
    padding: 9px 25px; 
    border-radius: 20px;
    border: 1px solid #f00;
    margin-left: 79%;
    margin-top: -520px;
    position: absolute;
    z-index: 999;
}

 .custom-button-next2 {
    font-size: 18px;
    padding: 9px 25px; 
    border-radius: 20px;
    border: 1px solid #f00;
    margin-left: 73.5%;
    margin-top: -520px;
    position: absolute;
    z-index: 999;
}